{% extends "base.html" %}



{% block content %}

<div class="card">
    <h2 class="center">Your info</h1>
        <p>
            <strong>name:</strong>{{player.char_type}} <br>
            <strong>life:</strong>{{player.full_life}} <br>
            <strong>wepon name:</strong> {{player['wepon_name']}} <br>
            <strong>wepon power:</strong>{{player['wepon_power']}} <br>
            <strong>shield name:</strong>{{player['shield_name']}} <br>
            <strong>shield power:</strong>{{player['shield_power']}} <br>
        </p>
    </div>      
</div>


<div class='card_wrapper'>
    <div class="card">
        <a href="/battle_results" class="btn btn--secondery">attack</a><br>
        <h1>battle output</h1>
        <p>
            {{result}}
        </p>
    </div>
</div>


<div class="card">
    <h2 class="center">Your opponent</h1>
        <p>
            <strong>name:</strong>{{opponent.char_type}} <br>
            <strong>life:</strong>{{opponent.full_life}} <br>
            <strong>wepon name:</strong> {{opponent['wepon_name']}} <br>
            <strong>wepon power:</strong>{{opponent['wepon_power']}} <br>
            <strong>shield name:</strong>{{opponent['shield_name']}} <br>
            <strong>shield power:</strong>{{opponent['shield_power']}} <br>
        </p>
    </div>      
    
</div>

{% endblock %}



