{% extends "base.html" %}

{% block content %}

<div class="card_wrapper">
    <div class="card">
        <h2 class="center">choose wepon</h1>
            <p>
                {%for key in wepon_obj%}
                <table>
                    <tr>
                        <th>
                            {{key}}
                        </th>   
                    </tr>
                </table>
                {%endfor%}
            </p>
        </div>      
    </div>
    
    
    <form  action="battle_info" method="post">   
        <label for="wepon">wepon</label>
        <input type="text" name='wepon' class='field'>

        <label for="sheild">sheild</label>
        <input type="text" name='shield' class='field'>    

        <input type="submit" value="enter" class="btn">
    </form>


<div class="card_wrapper">
    <div class="card">
        <h2 class="center">choose sheild</h1>
            <p>
                {%for key in shield_obj%}
                <table>
                    <tr>
                        <th>
                            {{key}}
                        </th>   
                    </tr>
                </table>
                    {%endfor%}
                </p>
            </div>      
</div>

{% endblock%}
