{% extends "base.html" %}



{% block content %}

<div class="card_wrapper">

    <div class="card">
        <h1 class="center">Dshaboard</h1>
    <p class="center">You are currently logged in</p>
    <div class="center">


        <a href="/start_game" class="btn btn--secondery">Start Game</a>
        <a href="/signout" class="btn btn--secondery">Sign Out</a>
    </div>
</div>    

<div class="card">
    <h1 class="center">Your info</h1>
        <p>
            <strong>ID:</strong> {{online_user._id}} <br>
            <strong>Name:</strong>{{online_user.name}} <br>
            <strong>Email:</strong>{{online_user.email}} <br>
            <strong>Wins:</strong>{{online_user.wins}} <br>
            <strong>Losts:</strong>{{online_user.losts}} <br>
            <a href="/my_ranking" class="btn btn--secondery">see your position</a><br>
            <p>
               {{my_ranking}} 
            </p>
        </p><br><br>

        <p>
            <a href="/top_5" class="btn btn--secondery">top_5</a><br>
            {%for resulst in top_5%}
            <table>
                <tr>
                    <th>
                        {{resulst}}
                    </th>   
                </tr>
            </table>
            {%endfor%}
        </p>

    </div>      
    
</div>
{% endblock %}



