{% extends "base.html" %}



{% block content %}

<div class='card_wrapper'>
    <div class="card">
        <h1>Log In</h1>
        <form  action="login" method="post">
          
            <label for="email">Email</label>
            <input type="email" name='email' class='field'>

            <label for="password">Password</label>
            <input type="password" name='password' class='field'>    

            <input type="submit" value="Log In" class="btn">
        </form>
    </div>
</div>

{% endblock %}
