{% extends "base.html" %}



{% block content %}

<div class='card_wrapper'>
    <div class="card">
        <h1>Create an Acount</h1>
        <form action='signup' method="post">
            <label for="name">Name</label>
            <input type="text" name='name' class='field'>

            <label for="email">Email</label>
            <input type="email" name='email' class='field'>

            <label for="password">Password</label>
            <input type="password" name='password' class='field'>    

            <input type="submit" value="Sign Up" class="btn">
        </form>
        <a href="/login_page" class="btn btn--secondery">login</a>
    </div>
</div>

{% endblock %}
