.btn {
    margin: 0 0 24px;
    padding: 11px 30px 10px;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    text-decoration: none;
    color:rgb(172, 155, 218);
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    display: inline-block;
    background: var(--primary);
    transition: color .15s ease, background-color .15s ease;
  }

  btn:hover {
    background: var(--primary-dark);
  }
  
  .btn--secondary {
    color: var(--almost-black);
    background: var(--secondary);
  }
  
  .btn--secondary:hover {
    background: var(--secondary-dark);
  }
  
  input[type=submit] {
    margin: 34px auto 24px;
    display: block;
  }

.field {
    margin: 0 0 24px;
    padding: 11px 16px 9px;
    width: 100%;
    font-size: 16px;
    line-height: 26px;
    color: var(--almost-black);
    border: 1px solid var(--grey);
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    display: block;
    background: var(--almost-white);
    transition: border-color .15s ease;
  }
.card-wrapper {
    margin: 0 auto;
    padding: 90px 30px;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
  }
  
  .card {
    margin: 0 30px 60px;
    padding: 20px 40px;
    width: 460px;
    box-shadow: 0 8px 26px -4px rgba(0,0,0,0.15);
    border-radius: 5px;
    background: var(--white);
  }

  .center{

    text-align: center;
  }

  
* {
  position: relative;
  box-sizing: border-box;
}  


